body {
    margin: 0;
  }
  
  * {
    box-sizing:border-box;
  }
  
.jumbotron {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    padding: 2em;
}

.content {
    position: relative;
    z-index: -1;
    background-color: #ffffff;
    width: 100%;
    padding: 2em;
  }
  
  #bottom_cards{
      width: 100%
  }
.card{
    padding-bottom: 1em;
    padding-right: 2em;
    margin-right: 2em;
    margin-left: 2em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    #top_content {
        margin-top: 10em;
    }
} 


footer > img {
    margin: 2px;
  }
#ft_text {
    margin-left: 1em;
    margin-top: 2em;

}

  html, body {height: 100%;}

  #wrap {min-height: 100%;}

  #main {overflow:auto;
    padding-bottom: 180px;}  /* must be same height as the footer */

  #footer {position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
    background-color: #E9ECEF;
    padding-top: 3em;
    } 


  img{
    height: 3em;
    display: block;
    float: left;
    margin-left: 3em;
  }

.description {
padding: 1em;
margin-top: 3em;
margin-bottom: 1rem;
}
#pic {
    height: 70px;
    width: auto;
}
#foot_mouse {
height: 4em;
width: auto;
margin-right: 0;
}

#foots {
margin-top: 5em;
text-align: center;
}